a {
    color: black;
}




.page-footer {
    background-color: rgba(255, 255, 255, 0.2);
    /* Set a light color with some opacity */
    backdrop-filter: blur(10px);
    /* Apply a blur effect to create a frosted glass effect */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari */

}

.page-footer,
.page-footer p,
.page-footer a {
    color: black !important;
}

canvas {
    max-width: 600px;
    max-height: 400px;
}

.mdc-layout-grid {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.mdc-layout-grid__cell {
    flex: 1;
}



nav {
    background-color: rgba(255, 255, 255, 0.2);
    /* Set a light color with some opacity */
    backdrop-filter: blur(10px);
    /* Apply a blur effect to create a frosted glass effect */
    -webkit-backdrop-filter: blur(10px);
}

.brand-logo {
    margin-left: 20px;
}

.brand-logo i {
    vertical-align: middle;
    margin-right: 5px;
}

.nav-wrapper a {
    color: black !important;
}

.card:hover .card-content {
    opacity: 1;
}

.card-content {
    opacity: 0;
    transition: opacity 0.5s;
}