{% extends "layout.html" %}
{% block content %}
<h2 class="center
">Meet the Team</h2>


<div class="profile-cards">


    <ul class="collapsible popout">

        <li>
            <div class="collapsible-header">
                <div class="row valign-wrapper">
                    <div class="col s8">
                        <h4 class="left-align">Rahul Reddy</h4>
                        <em>BAIS Fall 2022 batch<br>Data Engineer at Modak from 2018-2021</em>
                    </div>
                    <div class="col s4">
                        <img src="images/profiles/rahul.jpg" class="circle responsive-img">
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                <ul>Designed Responsive layouts using materialize css framework</ul><br>
                <ul>ajax framework filtering of song list based on albums</ul><br>
                <ul>integrating audio files in song cards and making interactive music player view</ul>
                <br>
                <ul>
                    <a href="https://github.com/rahulVemparala" class="btn-flat"><i
                            class="material-icons">account_box</i></a>
                    <a href="linkedin.com/in/rahul-reddy-vemparala-11609924a" class="btn-flat"><i
                            class="material-icons">contact_mail</i></a>
                </ul>
                <ul></ul>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <div class="row valign-wrapper">
                    <div class="col s8">
                        <h4 class="left-align">Akhila Siddabutala</h4>
                        <em>BAIS Fall 2022 batch<br>Data Engineer at Modak from 2018-2021</em>
                    </div>
                    <div class="col s4">
                        <img src="images/profiles/akhila.jpeg" class="circle responsive-img">
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                <ul>Implemented charts to visualize user activity stats using beautiful graphs</ul><br>
                <ul>Gathering Source functional and comprehensive music dataset from spotify API client for our
                    flask Application</ul>

                <br>
                <ul>
                    <a href="https://github.com/rahulVemparala" class="btn-flat"><i
                            class="material-icons">account_box</i></a>
                    <a href="https://github.com/rahulVemparala" class="btn-flat"><i
                            class="material-icons">contact_mail</i></a>
                </ul>
                <ul></ul>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <div class="row valign-wrapper">
                    <div class="col s8">
                        <h4 class="left-align">Ramya Rani Tatiparthi</h4>
                        <em>BAIS Fall 2022 batch<br>Software Developer at X from 2018-2021</em>
                    </div>
                    <div class="col s4">
                        <img src="images/profiles/ramya.jpeg" class="circle responsive-img">
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                <ul>Gathering Source functional and comprehensive music dataset from spotify API client for our
                    flask Application</ul>

                <br>
                <ul>
                    <a href="https://github.com/rahulVemparala" class="btn-flat"><i
                            class="material-icons">account_box</i></a>
                    <a href="https://github.com/rahulVemparala" class="btn-flat"><i
                            class="material-icons">contact_mail</i></a>
                </ul>
                <ul></ul>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <div class="row valign-wrapper">
                    <div class="col s8">
                        <h4 class="left-align">Akhilasri Reddy Musikara</h4>
                        <em>BAIS Fall 2022 batch<br>Software Developer at X from 2018-2021</em>
                    </div>
                    <div class="col s4">
                        <img src="images/profiles/akhilam.jpeg" class="circle responsive-img">
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                <ul>
                    <ul>Gathering Source functional and comprehensive music dataset from spotify API client for our
                        flask Application</ul>
                </ul>

                <br>
                <ul>
                    <a href="https://github.com/rahulVemparala" class="btn-flat"><i
                            class="material-icons">account_box</i></a>
                    <a href="https://github.com/rahulVemparala" class="btn-flat"><i
                            class="material-icons">contact_mail</i></a>
                </ul>
                <ul></ul>
            </div>
        </li>



    </ul>
</div>
<h2 class="center">Overview</h2>


<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">About Us:</span>
                <p>Rover is a robust interactive website that allows users to explore amazing music.
                    With emphasis on artist's best work and albums.
                </p>
                <br>
                <span class="card-title">Future Implementation</span>
                <p>
                    Create a flask application with a integrated database for music profiles.
                    Create user accounts and validation using flask-login
                </p>
            </div>
            <div class="card-action">
                <a href="index.html">Home</a>
                <a href="playlists.html">Playlists</a>
            </div>
        </div>
    </div>
</div>

<!-- footer start -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>About Page:</h5>
                <p class=" text-lighten-4">Introdutun
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Links</h5>
                <ul>
                    <li><a class="text-lighten-3" href="#album-section">Albums</a></li>
                    <li><a class="text-lighten-3" href="#song-section">Songs</a></li>
                    <li><a class="text-lighten-3" href="#!">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container black-text">
            © 2023 Copyright Text
            <a class="text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
{% endblock content %}

    <!-- footer end -->


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/script.js"></script>
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });

    </script>
</body>

</html>