{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m6">
      <div class="card horizontal">
        <div class="card-image">
          <img class="rounded-circle account-img" src="{{ image_file }}" style="max-width: 100%; height: auto;">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">{{ current_user.username }}</span>
            <p class="grey-text">{{ current_user.email }}</p>
            <form method="POST" action="" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <fieldset>
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="input-field">
                  {{ form.username.label(class="active") }}
                  {% if form.username.errors %}
                    {{ form.username(class="invalid") }}
                    <span class="helper-text" data-error="{% for error in form.username.errors %}{{ error }} {% endfor %}"></span>
                  {% else %}
                    {{ form.username }}
                  {% endif %}
                </div>
                <div class="input-field">
                  {{ form.email.label(class="active") }}
                  {% if form.email.errors %}
                    {{ form.email(class="invalid") }}
                    <span class="helper-text" data-error="{% for error in form.email.errors %}{{ error }} {% endfor %}"></span>
                  {% else %}
                    {{ form.email }}
                  {% endif %}
                </div>
                <div class="file-field input-field">
                  <div class="btn">
                    <span>{{ form.picture.label }}</span>
                    {{ form.picture }}
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                  {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                      <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                </div>
                <button type="submit" class="btn waves-effect waves-light">Update</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}