{% extends "layout.html" %}

{% block content %}
   
<!--

 <div class="profile-card">
        <div class="profile-card-image">
          <img class="rounded-circle account-img" src="{{ image_file }}" style="max-width: 80%; height: auto;">
        </div>
        <div class="card-stacked">
          <div class="profile-card-content">
            <span class="profile-card-title">{{ current_user.username }}</span>
            <p class="grey-text">{{ current_user.email }}</p>
            <form method="POST" action="" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <fieldset>
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="input-field">
                  {{ form.username.label(class="active") }}
                  {% if form.username.errors %}
                    {{ form.username(class="invalid") }}
                    <span class="helper-text" data-error="{% for error in form.username.errors %}{{ error }} {% endfor %}"></span>
                  {% else %}
                    {{ form.username }}
                  {% endif %}
                </div>
                <div class="input-field">
                  {{ form.email.label(class="active") }}
                  {% if form.email.errors %}
                    {{ form.email(class="invalid") }}
                    <span class="helper-text" data-error="{% for error in form.email.errors %}{{ error }} {% endfor %}"></span>
                  {% else %}
                    {{ form.email }}
                  {% endif %}
                </div>
    
                <button type="submit" class="btn waves-effect waves-light">Update</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>

  -->  
  

          <!-- profile card -->
    <div class="profile-card">
      <div class="profile-card-image">
        <img src="{{ image_file }}" alt="static/images/default.jpg" />
      </div>
      <div class="profile-card-content">
          <h2 class="profile-card-title">{{ current_user.username }}</h2>
          <h3 class="profile-card-subtitle">{{ current_user.email }}</h3>
          <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>
              <legend class="border-bottom mb-4">Account Info</legend>
              <div class="input-field">
                {{ form.username.label(class="active") }}
                {% if form.username.errors %}
                  {{ form.username(class="invalid") }}
                  <span class="helper-text" data-error="{% for error in form.username.errors %}{{ error }} {% endfor %}"></span>
                {% else %}
                  {{ form.username }}
                {% endif %}
              </div>
              <div class="input-field">
                {{ form.email.label(class="active") }}
                {% if form.email.errors %}
                  {{ form.email(class="invalid") }}
                  <span class="helper-text" data-error="{% for error in form.email.errors %}{{ error }} {% endfor %}"></span>
                {% else %}
                  {{ form.email }}
                {% endif %}
              </div>
  
              <button type="submit" class="btn waves-effect waves-light">Update</button>
            </fieldset>
      </div>
  </div>

  <!-- profile card end  -->


  
{% endblock content %}

