<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap_css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap_cssbootstrap-icons.min.css">
    <link rel="stylesheet" href="static/bootstrap_css/custom.css">
    <title>Rover</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body  style="background-image: url(static/images/wals/wal1.jpeg);>
    <div id='sa' class="sample"></div>
    <main>
        <!-- nav bar start  -->
        <nav class="mainnav navbar  navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{url_for('home')}}"><i class="bi bi-hurricane"></i> Rover</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('album')}}">Album</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('playlist')}}">Playlists</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img class='rounded-circle' src="static/images/default.jpg" style="width:35px" alt="">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{url_for('account')}}">Profile</a></li>
                                <li><a class="dropdown-item" href="{{url_for('about')}}">About</a></li>
                                                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- end of Navigation bar -->

        <!-- start hero area -->
        <div class="hero-area p-2">
            <ul class="nav m-2 nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">Pop</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Rock</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Dance</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Rap</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Hip-Hop</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Country</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">EDM</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                    tabindex="0">

                    <!-- start song item  -->
                    <div class="small-song m-2 ms-4  col-md-6 row align-items-center">
                        <div class="col-1 col h3">01</div>
                        <div class="col align-items-center d-flex"><img class='rounded m-1'
                                src="static/images/albums/eightmonths.jpg" style="width: 50px;height:50px;object-fit:cover"
                                alt="album art">
                            <div class="m-2 ">8 Months
                                <div class="text-muted">Calvin Harris</div>
                            </div>
                        </div>
                        <div class="col-2">3:27<audio id="song-4-audio" src="audio/gta.mp3"></audio>
                        </div>
                    </div>
                    <!-- end song item -->
              
                    <!-- start song item  -->
                    <div class="small-song m-2 ms-4  col-md-6 row align-items-center">
                        <div class="col-1 col h3">02</div>
                        <div class="col align-items-center d-flex"><img class='rounded m-1'
                                src="static/images/albums/eightmonths.jpg" style="width: 50px;height:50px;object-fit:cover"
                                alt="album art">
                            <div class="m-2 ">* Months
                                <div class="text-muted">Calvin Harris</div>
                            </div>
                        </div>
                        <div class="col-2">3:27 <i class="bi bi-play-circle-fill"></i></div>
                    </div>
                    <!-- end song item -->
              
                    <!-- start song item  -->
                    <div class="small-song m-2 ms-4  col-md-6 row align-items-center">
                        <div class="col-1 col h3">02</div>
                        <div class="col align-items-center d-flex"><img class='rounded m-1'
                                src="static/images/albums/eightmonths.jpg" style="width: 50px;height:50px;object-fit:cover"
                                alt="album art">
                            <div class="m-2 ">* Months
                                <div class="text-muted">Calvin Harris</div>
                            </div>
                        </div>
                        <div class="col-2">3:27 <i class="bi bi-play-circle-fill"></i></div>
                    </div>
                    <!-- end song item -->
              
                    <!-- start song item  -->
                    <div class="small-song m-2 ms-4  col-md-6 row align-items-center">
                        <div class="col-1 col h3">02</div>
                        <div class="col align-items-center d-flex"><img class='rounded m-1'
                                src="static/images/albums/eightmonths.jpg" style="width: 50px;height:50px;object-fit:cover"
                                alt="album art">
                            <div class="m-2 ">* Months
                                <div class="text-muted">Calvin Harris</div>
                            </div>
                        </div>
                        <div class="col-2">3:27 <i class="bi bi-play-circle-fill"></i></div>
                    </div>
                    <!-- end song item -->
              
                    <!-- start song item  -->
                    <div class="small-song m-2 ms-4  col-md-6 row align-items-center">
                        <div class="col-1 col h3">02</div>
                        <div class="col align-items-center d-flex"><img class='rounded m-1'
                                src="static/images/albums/eightmonths.jpg" style="width: 50px;height:50px;object-fit:cover"
                                alt="album art">
                            <div class="m-2 ">* Months
                                <div class="text-muted">Calvin Harris</div>
                            </div>
                        </div>
                        <div class="col-2">3:27 <i class="bi bi-play-circle-fill"></i></div>
                    </div>
                    <!-- end song item -->
              
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                    tabindex="0">Lorem, ipsum.</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                    tabindex="0">Lorem, ipsum.</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                    tabindex="0">Lorem, ipsum.</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                    tabindex="0">Lorem, ipsum.</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                    tabindex="0">Lorem, ipsum.</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                    tabindex="0">Lorem, ipsum.</div>
            </div>
        </div>
        <!-- end hero area  -->

        <!-- albums category start-->
        <div id="genre-section" class="container-fluid overflow:hidden">
            <a href="albums.html">
                <h3 class="mb-1">Albums<i class="bi bi-play-circle-fill"></i></h3>
            </a>
            <div class="m-2 row row-cols-2 row-cols-md-5 flex-nowrap overflow-auto rounded">
                <a href="{{url_for('album')}}">
                    <div class="col mb-4">
                        <div class="card h-100" style="height: 200px; overflow: hidden;">
                            <img src="static/images/albums/changes.jpeg" class="card-img-top" alt="...">
                            <div class="card-body" ">
                                <h5 class=" card-title">Changes</h5>
                                <p class="card-text">Justin Bieber</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{url_for('album')}}">
                    <div class="col mb-4">
                        <div class="card h-100" style="height: 200px; overflow: hidden;">
                            <img src="static/images/albums/thriller.jpeg" class="card-img-top" alt="...">
                            <div class="card-body" ">
                                <h5 class=" card-title">Thriller</h5>
                                <p class="card-text">Michael Jackson</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{url_for('album')}}">
                    <div class="col mb-4">
                        <div class="card h-100" style="height: 200px; overflow: hidden;">
                            <img src="static/images/albums/peaches.jpeg" class="card-img-top" alt="...">
                            <div class="card-body" ">
                                <h5 class=" card-title">Peaches</h5>
                                <p class="card-text">Kim Jongin</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{url_for('album')}}">
                    <div class="col mb-4">
                        <div class="card h-100" style="height: 200px; overflow: hidden;">
                            <img src="static/images/albums/sticker.jpeg" class="card-img-top" alt="...">
                            <div class="card-body" ">
                                <h5 class=" card-title">Sticker</h5>
                                <p class="card-text">NCT 127</p>
                            </div>
                        </div>
                    </div>
                </a>


                <!-- Add more cards as needed -->
            </div>
        </div>


        <!-- start Artist area -->


        <div id="artist-section" class="container-fluid overflow:hidden">
            <a href="artists.html">
                <h3 class=" mb-1">Artists <i class="bi bi-play-circle-fill"></i></h3>
            </a>
            </a>
            <div class="m-2 row row-cols-2 row-cols-md-5 flex-nowrap overflow-auto rounded">
                <a href="{{url_for('cb')}}">
                    <div class="col mb-4">
                        <div class="card h-100" style="height: 200px; overflow: hidden;">
                            <img src="static/images/artists/cb.jpg" class="card-img-top" alt="...">
                            <div class="card-body" ">
                                <h5 class=" card-title">Chris Brown</h5>
                                <p class="card-text">Christopher Maurice Brown is an American singer, songwriter, dancer, and actor.</p>
                            </div>
                        </div>
                    </div>
                </a>

   
                <a href="{{url_for('usher')}}">
                    <div class="col mb-4">
                        <div class="card h-100" style="height: 200px; overflow: hidden;">
                            <img src="static/images/artists/Usher.jpg" class="card-img-top" alt="...">
                            <div class="card-body" ">
                                <h5 class=" card-title">Usher Raymond</h5>
                                <p class="card-text">Usher Raymond IV (born October 14, 1978) is an American R&B singer. </p>
                            </div>
                        </div>
                    </div>
                </a>

   
                <a href="{{url_for('kai')}}">
                    <div class="col mb-4">
                        <div class="card h-100" style="height: 200px; overflow: hidden;">
                            <img src="static/images/artists/kai_profile.jpeg" class="card-img-top" alt="...">
                            <div class="card-body" ">
                                <h5 class=" card-title">Kim Jongin</h5>
                                <p class="card-text">Kim Jong-in, better known as Kai, is a South Korean singer, model, actor, and dancer.</p>
                            </div>
                        </div>
                    </div>
                </a>

   
                <!-- Add more cards as needed -->
            </div>
        </div>

        <!-- end Artist area -->

        <!-- playlists category start -->

        <div id="playlist-section" class="container-fluid overflow:hidden">
            <a href="playlists.html">
                <h3 class="mb-1">Genres <i class="bi bi-play-circle-fill"></i></h3>
            </a>
            <div class="m-2 row row-cols-2 row-cols-md-5 flex-nowrap overflow-auto rounded">
                <a href="{{url_for('playlist')}}">
                    <div class="col mb-4">
                        <div class="card h-100" style="height: 200px; overflow: hidden;">
                            <img src="static/images/genres/dance.jpeg" class="card-img-top" alt="...">
                            <div class="card-body" ">
                                <h5 class=" card-title">Dance music</h5>
                                <p class="card-text">Precussion beats and heavy 808 synths that make you groove to the music</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{url_for('playlist')}}">
                    <div class="col mb-4">
                        <div class="card h-100" style="height: 200px; overflow: hidden;">
                            <img src="static/images/genres/jazz.jpeg" class="card-img-top" alt="...">
                            <div class="card-body" ">
                                <h5 class=" card-title">Jazz</h5>
                                <p class="card-text">Classy yet chaotic Jazz instruments</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{url_for('playlist')}}">
                    <div class="col mb-4">
                        <div class="card h-100" style="height: 200px; overflow: hidden;">
                            <img src="static/images/genres/rock.jpeg" class="card-img-top" alt="...">
                            <div class="card-body" ">
                                <h5 class=" card-title">Rock</h5>
                                <p class="card-text">Rock music to cheer you up and motivate you</p>
                            </div>
                        </div>
                    </div>
                </a>

   

       
                <a href="{{url_for('playlist')}}">
                    <div class="col mb-4">
                        <div class="card h-100" style="height: 200px; overflow: hidden;">
                            <img src="static/images/genres/reggae.jpeg" class="card-img-top" alt="...">
                            <div class="card-body" ">
                                <h5 class=" card-title">Raggae</h5>
                                <p class="card-text">Groovy Raggaeton beat for a chill evening</p>
                            </div>
                        </div>
                    </div>
                </a>

       

                <!-- Add more cards as needed -->
            </div>
        </div>
        <!-- playlists category end -->


    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="static/bootstrap_js/bootstrap.min.js"></script>

<script>
    let currentAudio = null;
  
    // get all the play buttons and add event listeners to each one
    const playBtns = document.querySelectorAll('.play-btn');
    playBtns.forEach(btn => {
      btn.addEventListener('click', () => {
        const songId = btn.getAttribute('data-song-id');
        const audio = document.querySelector(`#${songId}-audio`);
  
        // pause the previously playing audio, if any
        if (currentAudio && currentAudio !== audio) {
          currentAudio.pause();
          currentAudio.previousElementSibling.innerHTML = '<i class="bi bi-play-circle-fill"></i>';
        }
  
        // play the new audio
        if (audio.paused) {
          audio.play();
          btn.innerHTML = '<i class="bi bi-pause-circle-fill"></i>';
          currentAudio = audio;
        } else {
          audio.pause();
          btn.innerHTML = '<i class="bi bi-play-circle-fill"></i>';
          currentAudio = null;
        }
      });
    });
  </script>
  


</html>