{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="card">
          <div class="card-content">
            <span class="card-title">Join Today</span>
            <div class="input-field">
              {{ form.username.label(class="active") }}
              {% if form.username.errors %}
                {{ form.username(class="validate invalid") }}
                <span class="helper-text red-text">
                  {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </span>
              {% else %}
                {{ form.username(class="validate") }}
              {% endif %}
            </div>
            <div class="input-field">
              {{ form.email.label(class="active") }}
              {% if form.email.errors %}
                {{ form.email(class="validate invalid") }}
                <span class="helper-text red-text">
                  {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </span>
              {% else %}
                {{ form.email(class="validate") }}
              {% endif %}
            </div>
            <div class="input-field">
              {{ form.password.label(class="active") }}
              {% if form.password.errors %}
                {{ form.password(class="validate invalid") }}
                <span class="helper-text red-text">
                  {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </span>
              {% else %}
                {{ form.password(class="validate") }}
              {% endif %}
            </div>
            <div class="input-field">
              {{ form.confirm_password.label(class="active") }}
              {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="validate invalid") }}
                <span class="helper-text red-text">
                  {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </span>
              {% else %}
                {{ form.confirm_password(class="validate") }}
              {% endif %}
            </div>
          </div>
          <div class="card-action">
            {{ form.submit(class="waves-effect waves-light btn") }}
          </div>
        </div>
      </form>
      <div class="card">
        <div class="card-content">
          <small>
            Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
